body {
  background-color: #06113C;
}

.container {
  margin-left: -10px;
  margin-top: -8px;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 47vw 47vw;
  column-gap: 6vw;
  row-gap: 5%;
}


.items {
  background-color: #FF8C32;
  padding: 20px; 
}
h1 {
  overflow-wrap: break-word;
  color: #DDDDDD;
  font-size: 3rem;
}
.results {
  font-size: 2rem;
  color: #06113C;
}